main{
  background-image:url("./Assets/Images/blood-background.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: $color-lightgrey;
  display: grid;
  grid-template-rows: auto auto auto;
}
