.c-callout {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 100%;
  overflow: auto;
}

.c-callout__header {
  padding: 25px 15px;
  background: $color-darkgrey;
  font-size: 50px;
  color: $color-white;
}

.c-callout__container {
  padding: 15px;
  background-color: $color-white;
  color: $color-black;
}

.c-callout__closebtn {
  position: absolute;
  top: 15px;
  right: 15px;
  color: $color-white;
  font-size: 50px;
  cursor: pointer;
}

.c-callout__closebtn:hover {
  color: $color-lightgrey;
}
