.c-input {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 50px 50px;
  justify-content: space-around;
  align-items: center;
  position: relative;

  .c-input__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    font-size: 2rem;

    .c-input__form--label {
      margin: 50px 0 20px;
      color: $color-blue;
      width: 80vw;
    }

    .c-input__form--input {
      margin-bottom: 20px;
      border: 1px solid $color-darkgrey;
      max-width: 80vw;
    }

    .c-input__form--button {
      background-color: $color-yellow;
      color: $color-black;
      width: auto;
      border: none;
      position: absolute;
      right: 10%;
      top: 55%;
      padding: 15px 0;

    }

    .c-input__form--link{
      margin-top: 25px;
    }
  }
}
